<div class="row" style="margin: 20px 20px 0 20px">
  <div class="row" style="margin: 20px 20px 0 20px">
    <div style="text-align: center" class="col-md-12">
      <h2 style="font-size: 40px">Instrukcja konfiguracji pliku CSV</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <span style="font-size: 30px; line-height: 30px"
        >Krok 1 - Pobranie historycznych danych pogodowych dla odpowiedniego
        przedziału czasowego. <br />Jeśli twój czujnik posiada dane prędkości
        wiatru przejdź do Kroku 3. Dane są dostępne na stronie
        <a href="https://www.visualcrossing.com/weather-data"
          >visualcrossing.com</a
        >
        Należy wyszukać odpowiednią miejscowość oraz pobrać dane w formacie
        .csv</span
      >

      <div
        class="row col-md-12"
        style="font-size: 30px; margin-bottom: 20px; line-height: 30px"
      >
        <span></span>
      </div>
      <br />
      <div class="row" style="text-align: center">
        <div class="col-md-12" style="text-align: center">
          <img
            style="margin-bottom: 20px"
            src="../../assets/images/Instruction1.png"
            height="auto"
            width="60%"
          />
          <br />
          <img
            src="../../assets/images/Instruction2.png"
            height="auto"
            width="50%"
          />
          <br />
          <img
            src="../../assets/images/Instruction3.png"
            height="auto"
            width="50%"
          />
          <br />
          <img
            src="../../assets/images/Instruction4.png"
            height="auto"
            width="50%"
          />
          <br />
        </div>
      </div>

      <div class="row col-md-12" style="font-size: 30px">
        Krok 2 - Formatownie danych danych
      </div>
      <br />

      <div class="row col-md-12" style="font-size: 30px">
        Pobrany plik nalezy otworzyc za pomocą programy MS Excel i rodzielić
        dane na kolumny
      </div>
      <br />

      <div class="row col-md-12" style="font-size: 30px">
        W tym celu trzeba zaznaczyć pierwszą kolumne, a następnie wybrać opcje w
        zakładce Dane - Tekst jako kolumny.
      </div>
      <br />
      <div class="row">
        <div class="col-md-12" style="text-align: center">
          <img
            src="../../assets/images/Instruction5.png"
            height="auto"
            width="80%"
          />
          <br />
        </div>
      </div>

      <div class="row col-md-12" style="font-size: 30px; margin-top: 20px">
        Następnie należy rozdzielić dane za pomocą przecinków
      </div>
      <br />
      <div class="row" style="text-align: center">
        <div class="col-md-12" style="text-align: center">
          <img
            src="../../assets/images/Instruction6.png"
            height="auto"
            width="50%"
          />
          <br />
        </div>
      </div>
      <div class="row col-md-12" style="font-size: 30px; margin-top: 20px">
        Krok 3 - Przygotowanie danych dla algorymtu
      </div>
      <br />
      <div class="row col-md-12" style="font-size: 30px">
        Należy przygotować dane aby miały następującą postać
      </div>
      <br />
      <div class="row" style="text-align: center">
        <div class="col-md-12" style="text-align: center">
          <img
            src="../../assets/images/Instruction7.png"
            height="auto"
            width="50%"
          />
          <br />
        </div>
      </div>
      <div class="row col-md-12" style="font-size: 30px; margin-top: 20px;">
        Krok 4 - Zapisanie pliku jako plik csv rozdzielany przecinkami
      </div>
      <br />
      <div class="row col-md-12" style="text-align: center">
        <div class="col-md-12" style="text-align: center">
          <img
            src="../../assets/images/Instruction8.png"
            height="auto"
            width="60%"
          />
          <br />
        </div>
      </div>
      <div
        class="row col-md-12"
        style="font-size: 30px; line-height: 30px; margin-top: 20px"
      >
        Należy się upewnić, czy dane w pliku napewno są rodzielone przecinkami.
        Jeśli nie można otworzyć plik za pomocą darmowego programu notepad++,
        następnie zaznaczyć cały tekst (CTRL + A) po zaznaczeniu użyć skrótu
        CTRL + F i przejść do zakładki zamień i następnie zmienić niepożądany
        znak na przecinek
      </div>
      <br />
      <div class="row col-md-12" style="text-align: center">
        <div class="col-md-12" style="text-align: center">
          <img
            src="../../assets/images/Instruction9.png"
            height="auto"
            width="70%"
          />
          <br />
        </div>
      </div>
      <div
        class="row"
        style="font-size: 30px; line-height: 30px; margin-top: 20px"
      >
        <div class="col-md-12" style="padding-left: 0px;">
          Krok 5 - Załączenie pliku w zakładce
          <a href="/forecast">"Prognoza zanieczyszczenia"</a>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
